{% extends "base4.html" %}
{% block title %}
Edición
{% endblock %}
{% block content %}



<h2>Lista de usuarios</h2>

                        <div class="card-body">
                            <ul class="list-group">
                                {% for x in show%}
                                <li class="list-group-item">
                                    {{x.nickname}}
                                    <a href="/done/{{x.id}}" class="btn btn-success btn-sm">Editar</a>
                                    <a href="/delete/{{x.id}}">Eliminar</a>
                                </li>
                                {% endfor%}
                            </ul>
                        
                        </div>




{% endblock %}