{% extends "base4.html" %}
{% block title %}
Edición
{% endblock %}
{% block content %}



<h2>Lista de usuarios</h2>

                        <div class="card-body">
                            <ul class="list-group">
                                {% for x in show%}
                                <li class="list-group-item">
                                    {{"User: "}}
                                    {{x.nickname}}
                                    {{"||"}}
                                    {{x.nombres_usuario}}
                                    {{x.apellidos_usuario}}
                                    {{"||"}}
                                    {{x.email_usuario}}
                                    {{"||"}}
                                    {{x.rol}}
                                    <a href="{{ url_for('editar') }}" class="btnforright2">Editar</a>
                                    <a href="/delete/{{x.id}}" class="btnforright">Eliminar</a>
                                </li>
                                {% endfor%}
                            </ul>
                        
                        </div>




{% endblock %}